body{
    background: linear-gradient(-45deg, #ee7752, #ef82ab, #f1e6cc, #f9fbfb);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




header {
    display: flex;
    flex-wrap: wrap;
    border: 1px pink solid;
    font-family: 'Times New Roman', Times, serif;
}


header h1 {
    width: 50% border 1px pink solid;
    
}

header nav {
    width: 50%;
    border: 1px rgb(250, 245, 250) solid;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration:none ;
}

figure {
    background-image: url(https://i.pinimg.com/originals/32/83/9a/32839a7eb0ae452567ea3d4c5b0a7610.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

img {
    width: 100%;
    justify-content: space-around;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-wrap: wrap;
    
    
}

.left-side .title {
    width: 10%;
    border-right: 2px pink solid;
    text-align: right;
   font-family: 'Times New Roman', Times, serif;
   margin-top: 1%;
   
}

.left-side .section-container {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1%;
    
}

.card {
    width: 45%;
    position: relative;
    margin-top: 20px;
}

.card h3 {
    position: absolute;
    z-index: 1;
    bottom: 9%;
}

.section-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
}

#image1 {
    position: relative;
    margin-top: 20px;
}

#image1 h3 {
    position: absolute;
    z-index: 1;
    bottom: 10%;
}

*{
    max-width: 700px;
    margin: auto;
  }
  
  
  /*body {
      min-width: 500px;
  }*/
  
  div {
    border-radius: 5px;
  }
  
  /* #header {
    height: 40px;
    width: 100%;
    background-color: #ffcccc;
    position: fixed;
    z-index: 1;
  } */
  
  #title {
    margin-left: 3%;
  }
  
  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 50px;
    background: linear-gradient(-45deg, #ee7752, #ef82ab, #f1e6cc, #f9fbfb);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    position:fixed;
    bottom:0;
    width:100%;
    text-decoration: none;
   
  }
  #footer-ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    width: 100%
  }
  
  /* .left {
    height: 1000px;
    width: 45px;
    background-color: #e0eeee;
    float: left;
    position: fixed;
  } */
  
  /* .right {
    height: 1000px;
    width: 45px;
    background-color: #e0eeee;
    float: right;
    position: inherit;
  }
   */
  .stuff {
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 1000px;
  }
  
  p,
  li {
    font-family: 'Cormorant Garamond';
    text-decoration: none;
  }
  
  .head {
    font-size: 20px;
  }
  
  #name {
    font-family: Sacramento;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }
  
  a {
    color: rgb(245, 238, 238);
    text-decoration: none;

  }
  a li{
    color:black;
  
  }
  li a{
    color: black;
   
  }
  @media only screen and (max-width: 430px) {
    .left,
    .right {
      display: none;
    }
    .stuff {
      width: 100%;
      margin-left: 10px;
    }
  }



  .team-products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 15px;
	margin-bottom: 50px;
	width: 1000px;
	height: 1000px;
	padding: 30px calc((100% - 800px) / 2);

	@media (max-width:767px) {
		width: 500%;
		justify-content: center;
		justify-items: center;
		grid-template-columns: 350px;
		grid-template-rows: repeat(9, 250px);
	}

	.product {
		width: 100%;
		position: relative;
		overflow: hidden;
		text-align: center;
		border: 1px solid #ededed;

		@media (max-width:767px) {
			width: 100%;
		}

		&:first-child {
			.content-details {
				left: 20%;
				top: 20%;
			}
		}

		&:nth-child(3) {
			.content-details {
				left: 80%;
				top: 20%;
			}
		}

		&:nth-child(3n-2) {
			.content-details {
				left: 20%;
			}
		}

		&:nth-child(3n-1) {
			.content-details {
				top: 20%;
			}
		}

		&:nth-child(3n) {
			.content-details {
				left: 80%;
			}
		}

		&:nth-last-child(3) {
			.content-details {
				left: 20%;
				top: 80%;
			}
		}

		&:nth-last-child(2) {
			.content-details {
				top: 80%;
			}
		}

		&:last-child {
			.content-details {
				left: 80%;
				top: 80%;
			}
		}

		@media (max-width:767px) {
			&:nth-child(n) {
				.content-details {
					left: 20%;
					top: 50%;
				}
			}
		}

		.content {
			height: 100%;
			img {
				height: 100%;
				transition: all 0.4s linear;
			}
		}

		.content-details {
			position: absolute;
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;
			width: 100%;
			top: 50%;
			left: 50%;
			opacity: 0;
			color: #fff;
			transform: translate(-50%, -50%);
			transition: all 0.3s ease-in-out 0s;
			z-index: 15;

			ul {
				padding-left: 15px;
                text-decoration: none;
			}

			p.name {
				font-size: 24px;
				font-family: 'Stick No Bills', sans-serif;
				margin-bottom: 10px;
				padding: 0 10px;
			}
			
			.desc {
				font-family: sans-serif;
				padding: 0 10px;
			}
		}

		&:hover .content {
			img {
				filter: blur(2px);
			}
		}

		&:hover .content-details {
			top: 50%;
			left: 50%;
			opacity: 1;
		}

		.product-overlay {
			background: rgba(0, 0, 0, 0.7);
			position: absolute;
			height: 90%;
			width: 90%;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			opacity: 0;
			transition: all 0.4s ease-in-out 0s;
			z-index: 10;
		}

		&:hover .product-overlay {
			opacity: 1;
		}
	}
}


html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  
  .demo {
    margin: 0 auto;
    padding-top: 32px;
    max-width: 640px;
    width: 94%;
  }
  
  .demo h1 {
    margin-top: 0;
  }
  



  .demopara{
    line-height: 2;

  }
  
  .card-text{
justify-content: space-between;
justify-content: space-around;
  }

  .nav-item:hover, .nav-item:focus{
   text-decoration: none;
      box-shadow: inset 0 0 0 2em var(--hover);
    }
  